<h1>About Us...</h1>
<p> 

	<%= @about_me%>

</p>
	<%= image_tag "homeimage.png", height: 500, weight: 300 %>
<p>
	Let's Sign Up and Discover Your Friends !
</p>

	<%= image_tag "image4.jpg", height: 300 %>
